$color-lash: #d4d4d4;
$color-lash-blur: #ffffff99;
$color-white-blur: #b5b5b5cc;
$color-primary: #038bff;
$color-lprimary: #a6d6f3;

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;
$xxl-size: 1400px;
