@import "../../shared/variable";
@import "./more-details.scss";

.off-img{    
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 10rem;
}

.off-img svg{
    padding: 0.55rem;
    width: 100%;
    height: 100%;
}

.main-section{
    width: 100%;
    height: 100vh;
    margin-top: 10vh;
    // background-color: goldenrod;
    // background-image: url(../../assets/images/bg/5.jpg);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar{
    height: 5em;
    width: 100%;
    padding: 3% 5%;
    z-index: 12;
    background-color: #f7f7f7;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-btn{
    margin: 0.5em;
}

.main-btn button.in-tab{
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

.schedule-class{
    width: 100%;
    position: fixed;
    height: calc(90vh - 5em);
    overflow: hidden scroll;
    padding: 4rem 6rem;
    margin-top: 5rem;
    margin-bottom: -4rem;
    z-index: 12;
    background: linear-gradient(135deg, #dbf1ff 0%, #bbbeef 100%);
}

.schedule-class .err-log{
    color: #dc3545!important;
    font-size: 0.8rem;
    margin: -1em 0 1.5rem;
}

.schedule-class .t-input-box{ 
    width: 100%;
}

.schedule-class .t-input-box textarea{
    min-height: 150px;
    max-height: 300px;
}

.schedule-class .fee-row{
    margin-left: 0;
    margin-right: 0;
}

.schedule-class .fee-row>*{
    padding-left: 0;
    padding-right: 0;
}

.range-text{
    background-color: #8a8a8a59;
    padding: 5px 10px;
    // margin: 20px 0;
    position: absolute;
    top: 130%;
    border-radius: 2rem;
    font-size: 80%;
}

.form-glass {
    background: linear-gradient(135deg, #f7f7f759, #f7f7f7bd);
    padding: 70px 25px;
    border-radius: 20px;
    // background: linear-gradient(135deg, #f7f7f747, #f7f7f738);
    box-shadow: 2px 2px 20px 0px #8484842e;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
}

.circle1 {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    position: absolute;
    opacity: 0.75;
    border-radius: 50%;
    top: 10%;
    right: -10%;
    z-index: -10;
}

.circle2{
    width: 20rem;
    height: 20rem;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    position: absolute;
    opacity: 0.45;
    border-radius: 50%;
    left: -10%;
    bottom: -55%;
    z-index: -10;
}

.circle3 {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    position: absolute;
    opacity: 0.85;
    border-radius: 50%;
    left: 15%;
    top: -15%;
    z-index: -10;
}

.schedule-class p>small{
    font-size: 0.85rem;
}

.time-label{
    width: 50%;
}

.schedule-succcess{
    display: block;
    background: linear-gradient(135deg, #dbf1ff26 0%, #ffffffbd 100%);
    box-shadow: 2px 2px 20px 0px #8484842e;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -o-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    color: black;
    z-index: 17;
}

.schedule-succcess .modal-content{
    box-shadow: 2px 2px 20px 0px #8484842e;
    border: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
}

.schedule-succcess .modal-header{
    border-bottom: 0;
}

.schedule-succcess .modal-footer{
    background-color: #dcdcdc61;
    border-top: 0;
}

.search-class{
    width: 100%;
    position: fixed;
    padding: 1rem 2.5rem 0;
    margin-top: 5rem;
    margin-bottom: -4rem;
    z-index: 12;
    background-color: rgba(255, 255, 255, 0.7);
    // backdrop-filter: blur(8.5px);
    // -webkit-backdrop-filter: blur(8.5px);
    // -moz-backdrop-filter: blur(8.5px);
    // -o-backdrop-filter: blur(8.5px);
    // -ms-backdrop-filter: blur(8.5px);
}

.search-class .form-floating{
    color: black;
}

.class-search-input{
    border-radius: 10px;
}

.class-main{
    padding: 1rem 2rem 10rem;
    margin-top: 5em;
    height: calc(90vh - 5em);
    width:  100%;
    background-color: #e0e0e052;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.class-main.extra-top-margin{
    margin-top: 10rem;
}

.class-list {
    // padding: 0;
}

.class-list .info-hide{
    visibility: hidden;
    display: none;
    max-height: 0;
    opacity: 0;
}

.class-list .info-unhide{
    visibility: visible;
    transition: 1s, visibility 0s, opacity 1.5s linear;
    padding: 1.5rem;
    position: absolute;
    z-index: 55;
    opacity: 1;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-white-blur;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

.class-list .info-unhide .class-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}


.side-panel-body{
    display: flex;
    height: 65vh;
    width: 95%;
    flex-direction: column;
}

.side-panel .bookmarks{
    height: 30%;
    margin-bottom: 10px;
    background-color: #3e6e9e;
    padding: 1.2rem;
}

.side-panel{   
    padding: 0.2rem;
    height: 100%;
    position: fixed;
    right: calc(var(--bs-gutter-x)/ 1.5);
}

.side-panel div{
    // margin-bottom: 10px;
}

.side-panel .message-window{
    height: 65vh;
}


.bookmark-class{
    visibility: visible;
    transition: 1s, visibility 0s, opacity 1.5s linear;
    padding: 1.5rem;
    position: absolute;
    z-index: 55;
    opacity: 1;
    margin-top: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-white-blur;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

@media screen and (max-width: 768px){
    .off-img{
        padding: 4.5rem;
    }

    .top-bar{
        height: 5em;
        overflow-y: scroll;
        justify-content: normal;
    }

    .main-btn{
        margin: 0;
        padding-right: 0.5em;
    }

    .schedule-class{
        padding: 2.5rem 0.5rem 10rem;
    }

    .circle1{
        top: 50%;
        right: -50%;
    }

    .circle2{
        bottom: -180%;
        left: -20%;
    }

    .circle3{
        left: -20%;
        top: -10%;
    }

    .class-main{
        margin-top: 5em;
        margin-bottom: 0;
        height: calc(90vh - 5em);
        padding: 1rem 0rem 10rem;
    }

    .class-main.extra-top-margin{
        margin-top: 5rem;
    }    
    
    .class-list .info-unhide{
        max-height: none;
    }

    .class-list .info-unhide .class-info{
        margin-top: 2.5rem;
    }

    .more-close-btn{
        position: absolute;
        right: 1.5rem;
    }

    .side-panel{   
        padding: 0.2rem;
        height: 100%;
        position: relative;
    }

    .bottom-panel{
        height: 100vh;
        padding: 2.5em 1em;
        width: 100%;
        overflow: scroll;
        margin: auto;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 55;
        background-color: rgb(48 48 48 / 0.8);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        -moz-backdrop-filter: blur(8.5px);
        -o-backdrop-filter: blur(8.5px);
        -ms-backdrop-filter: blur(8.5px);
    }  

    .panel-close-btn{
        color: white;
        font-size: 2em;
        float: right;
    }

    .bottom-panel-body{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .message-window {
        height: 100%;
    }

}

@media screen and (max-width: 400px){
    .off-img{
        padding: 5.5rem 2.5rem;
    }
}