<div class="main-section font-1" *ngIf="auth.user | async as userA">
  <div class="top-bar">
    <ng-template [ngIf]="stateStudent">
      <div class="main-btn">
        <button mat-raised-button color="primary" (click)="showSearch = !showSearch">
          <span class="material-icons">
            search
          </span>
        Find a class</button>
      </div>
    </ng-template>
    <ng-template [ngIf]="stateTeacher">
      <div class="main-part">
        <button class="btn btn-success" (click)="showSchedule = !showSchedule">Schedule a class</button>
      </div>
    </ng-template>
  </div>


  <div class="schedule-class" *ngIf="showSchedule">
    <form class="row" [formGroup]="scheduleForm" (ngSubmit)="onScheduleSubmit(userA)">
      <div class="col-sm-3 section-column">
        <div class="mb-2">
          <label for="classNameID" class="form-label">Class Name*</label>
          <input type="text" class="form-control" id="classNameID" formControlName="className"
            placeholder="Physics Lesson 01 A/L 2021" required>
        </div>
        <div class="mb-2">
          <label for="subjectID" class="form-label">Subject*</label>
          <input type="text" class="form-control" id="subjectID" formControlName="subject" placeholder="Physics"
            required>
        </div>
        <div class="mb-2">
          <label for="teacherNameID" class="form-label">Teacher's Name</label>
          <input type="text" class="form-control" id="teacherNameID" formControlName="teacherName">
        </div>
        <div class="mb-2">
          <label for="lessonID" class="form-label">Lesson*</label>
          <input type="text" class="form-control" id="lessonID" formControlName="lesson" placeholder="Lesson 01 - Topic"
            required>
        </div>
        <div class="mb-2">
          <label for="categoryID" class="form-label">Category*</label>
          <select class="form-select" id="categoryID" formControlName="category" required>
            <option value="Theory">Theory</option>
            <option value="Revision">Revision</option>
            <option value="Paper">Paper</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="batchYearID" class="form-label">Batch Year*</label>
          <select class="form-select" id="batchYearID" formControlName="batchYear" required>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3 section-column">
        <div class="mb-2">
          <label for="numberOfWeeksID" class="form-label">Number of weeks*</label>
          <select class="form-select" id="numberOfWeeksID" formControlName="numberOfWeeks" required>
            <option value="1">1 Week</option>
            <option value="2">2 Weeks</option>
            <option value="3">3 Weeks</option>
            <option value="3">4 Weeks</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="classesPerWeekID" class="form-label">Classes per week*</label>
          <select class="form-select" id="classesPerWeekID" formControlName="classesPerWeek" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
          </select>
        </div>
        <div class="mb-2">
          <label class="form-label">Weekdays</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="mondayData" id="mondayDataID">
            <label class="form-check-label" for="mondayDataID">
              Monday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="tuesdayData" id="tuesdayDataID">
            <label class="form-check-label" for="tuesdayDataID">
              Tuesday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="wednesdayData" id="wednesdayDataID">
            <label class="form-check-label" for="wednesdayDataID">
              Wednesday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="thursdayData" id="thursdayDataID">
            <label class="form-check-label" for="thursdayDataID">
              Thursday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="fridayData" id="fridayDataID">
            <label class="form-check-label" for="fridayDataID">
              Friday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="saturdayData" id="saturdayDataID">
            <label class="form-check-label" for="saturdayDataID">
              Saturday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="sundayData" id="sundayDataID">
            <label class="form-check-label" for="sundayDataID">
              Sunday
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-3 section-column">
        <div class="mb-2">
          <label class="form-label">Time</label>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('mondayData').value">
            <span class="input-group-text time-label">Monday</span>
            <input type="time" id="mondayTimeID" class="form-control" formControlName="mondayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('tuesdayData').value">
            <span class="input-group-text time-label">Tuesday</span>
            <input type="time" id="tuesdayTimeID" class="form-control" formControlName="tuesdayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('wednesdayData').value">
            <span class="input-group-text time-label">Wednesday</span>
            <input type="time" id="wednesdayTimeID" class="form-control" formControlName="wednesdayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('thursdayData').value">
            <span class="input-group-text time-label">Thursday</span>
            <input type="time" id="thursdayTimeID" class="form-control" formControlName="thursdayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('fridayData').value">
            <span class="input-group-text time-label">Friday</span>
            <input type="time" id="fridayTimeID" class="form-control" formControlName="fridayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('saturdayData').value">
            <span class="input-group-text time-label">Saturday</span>
            <input type="time" id="saturdayTimeID" class="form-control" formControlName="saturdayTime"
              placeholder="Select time">
          </div>
          <div class="input-group mb-3" *ngIf="scheduleForm.get('sundayData').value">
            <span class="input-group-text time-label">Sunday</span>
            <input type="time" id="sundayTimeID" class="form-control" formControlName="sundayTime"
              placeholder="Select time">
          </div>
        </div>
      </div>

      <div class="col-sm-3 section-column">
        <div class="mb-2">
          <label for="linkDataID" class="form-label">Zoom/Team Link*</label>
          <input type="text" class="form-control" id="linkDataID" formControlName="linkData" required>
        </div>
        <div class="mb-2">
          <label for="otherDetailsID" class="form-label">Other details</label>
          <textarea class="form-control" id="otherDetailsID" formControlName="otherDetails" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!scheduleForm.valid">Submit</button>
      </div>


    </form>

    <div class="modal modal-dialog-centered schedule-succcess" tabindex="-1" *ngIf="scheduleComplete"
      id="scheduleSuccess">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Success</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="scheduleComplete = !scheduleComplete; showSchedule = !showSchedule"></button>
          </div>
          <div class="modal-body">
            <p>Schedule is completed successfuly.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"
              (click)="scheduleComplete = !scheduleComplete; showSchedule = !showSchedule">Okay</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="class-list" *ngIf="stateTeacher">
    <div *ngFor="let class of userClasses | async">
      <div class="class-item" id="{{class.docId}}">
        <h4 class="class-name font-2">{{ class.className }}</h4>
        <div class="class-info">
          <span class="class-subject class-data">Subject: {{ class.subject }}</span>
          <span class="class-data">Lesson: {{ class.lesson }}</span>
          <span class="class-data">Category: {{ class.category }}</span>
          <span class="class-data">Batch: {{ class.batchYear }}</span>
          <span
            [className]="(moreInfoID == class.docId) ? 'class-data more-info-btn class-data-main' : 'class-data more-info-btn'"
            (click)="unhide(class.docId)">More
            <span class="material-icons">
              keyboard_arrow_down
            </span>
          </span>
        </div>
        <div [className]="(moreInfoID == class.docId) ? 'more-info info-unhide' : 'more-info info-hide'">
          <div class="more-info-row">
            <span class="class-data">Number of weeks: {{ class.numberOfWeeks }}</span>
            <span class="class-data">Classes per week: {{ class.classesPerWeek }}</span>
          </div>
          <div class="more-info-row">
            <span class="class-data class-data-main">Class times</span>
            <span class="class-data" *ngIf="class.mondayData">Monday: {{class.mondayTime}}</span>
            <span class="class-data" *ngIf="class.tuesdayData">Tuesday: {{class.tuesdayTime}}</span>
            <span class="class-data" *ngIf="class.wednesdayData">Wednesday: {{class.wednesdayTime}}</span>
            <span class="class-data" *ngIf="class.thursdayData">Thursday: {{class.thursdayTime}}</span>
            <span class="class-data" *ngIf="class.fridayData">Friday: {{class.fridayTime}}</span>
            <span class="class-data" *ngIf="class.saturdayData">Saturday: {{class.saturdayTime}}</span>
            <span class="class-data" *ngIf="class.sundayData">Sunday: {{class.sundayTime}}</span>
          </div>
          <div class="more-info-row">
            <span class="class-data class-data-main">Link</span>
            <span class="class-data" *ngIf="class.linkData">
              <a href="{{class.linkData}}" target="blank">{{class.linkData}}</a>
              <span class="material-icons">
                launch
              </span>
            </span>
          </div>
          <div class="more-info-row">
            <span class="other-details">
              <h6><b>Other Details</b></h6>
              {{class.otherDetails}}
            </span>
          </div>
          <div class="more-info-row functions-row">
            <span class="bg-danger class-delete" (click)="deleteClass(class.docId)">Delete
              <span class="material-icons">
                delete
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div color="primary" class="search-class" *ngIf="showSearch">
    <div class="d-md-flex">
      <!-- <input type="text" class="form-control form-control-sm class-search-input" id="floatingInput"
        placeholder="Class Name"> -->
        <mat-form-field>
          <mat-label>Class</mat-label>
          <input matInput placeholder="Ex. Physics 2021" (keyup)="searchClassF()" [(ngModel)]="searchValue">
        </mat-form-field>   
        <mat-form-field>
          <mat-label>Teacher</mat-label>
          <input matInput placeholder="Ex. Teacher Name" (keyup)="searchClassF()" [(ngModel)]="searchValue">
        </mat-form-field>   
        <mat-form-field>
          <mat-label>Lesson</mat-label>
          <input matInput placeholder="Ex. Teacher Name" (keyup)="searchClassF()" [(ngModel)]="searchValue">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Batch Year/Grade</mat-label>
          <input matInput placeholder="Ex. Teacher Name" (keyup)="searchClassF()" [(ngModel)]="searchValue">
        </mat-form-field>   
    </div>
  </div>

  <div [class]="showSearch ? 'row class-main extra-top-margin' : 'row class-main'" *ngIf="stateStudent">
    <div  [class]="chatBar ? 'col-md-8 col-12 class-list' : 'col-12 class-list'">
      <div class="class-list-items" *ngFor="let class of everyClasses | async">
        <mat-card class="class-item" id="{{class.docId}}">
          <h4 class="class-name font-2">{{ class.className }}</h4>
          <div class="class-info">
            <button mat-raised-button color="primary" [routerLink]="['/class', {outlets:{'message': 'profile/'+[class.teacherID]}}]" (click)="chatBarEnable(class.docId)">
              <span class="material-icons">
                person_pin
              </span>
              Teacher: {{ class.teacherName }}
            </button>
            <!-- <a [routerLink]="['/class', {outlets:{'message': 'profile/'+[class.teacherID]}}]" (click)="chatBarEnable()">
            <span class="class-data class-teacher"></span>
            </a> -->
            <span class="class-data">Subject: {{ class.subject }}</span>
            <span class="class-data">Lesson: {{ class.lesson }}</span>
            <span class="class-data">Category: {{ class.category }}</span>
            <span class="class-data">Batch: {{ class.batchYear }}</span>
            <span
              [className]="(moreInfoID == class.docId) ? 'class-data more-info-btn class-data-main' : 'class-data more-info-btn'"
              (click)="unhide(class.docId)">More
              <span class="material-icons">
                keyboard_arrow_down
              </span>
            </span>
          </div>
          <div [className]="(moreInfoID == class.docId) ? 'more-info info-unhide' : 'more-info info-hide'">
            <div class="more-info-row">
              <span class="class-data">Number of weeks: {{ class.numberOfWeeks }}</span>
              <span class="class-data">Classes per week: {{ class.classesPerWeek }}</span>
            </div>
            <div class="more-info-row">
              <span class="class-data class-data-main">Class times</span>
              <span class="class-data" *ngIf="class.mondayData">Monday: {{class.mondayTime}}</span>
              <span class="class-data" *ngIf="class.tuesdayData">Tuesday: {{class.tuesdayTime}}</span>
              <span class="class-data" *ngIf="class.wednesdayData">Wednesday: {{class.wednesdayTime}}</span>
              <span class="class-data" *ngIf="class.thursdayData">Thursday: {{class.thursdayTime}}</span>
              <span class="class-data" *ngIf="class.fridayData">Friday: {{class.fridayTime}}</span>
              <span class="class-data" *ngIf="class.saturdayData">Saturday: {{class.saturdayTime}}</span>
              <span class="class-data" *ngIf="class.sundayData">Sunday: {{class.sundayTime}}</span>
            </div>
            <div class="more-info-row">
              <span class="class-data class-data-main">Link</span>
              <span class="class-data class-link" *ngIf="class.linkData">
                <a href="{{class.linkData}}" target="blank">{{class.linkData}}</a>
                <span class="material-icons">
                  launch
                </span>
              </span>
            </div>
            <div class="more-info-row">
              <span class="other-details">
                <h6><b>Other Details</b></h6>
                {{class.otherDetails}}
              </span>
            </div>
            <div class="more-info-row functions-row">
              <span class="bg-primary btn class-bookmark" (click)="bookmarkClass(class.docId, userA.uid)">
                <span class="material-icons">
                  bookmark
                </span>
              </span>
              <span class="bg-primary class-ask" >
                <a [routerLink]="['/class', {outlets:{'message': [class.docId]}}]" (click)="chatBarEnable()">
                  <span class="material-icons">
                    chat
                  </span>
                </a>
              </span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4 d-md-block d-none side-panel"  *ngIf="chatBar">
      <div class="side-panel-body">
        <div class="bookmarks" *ngIf="bookmarkBar">
          <app-bookmarks></app-bookmarks>
        </div>
        <div class="message-window" *ngIf="chatBar">
          <router-outlet name="message"></router-outlet>
        </div>
      </div>
    </div>

    <div class="col-12 d-md-none bottom-panel" *ngIf="chatBar">
      <span class="panel-close-btn" (click)="closeBPanel()"><i class="material-icons">close</i></span>
      <div class="bottom-panel-body">
        <div class="bookmarks" *ngIf="bookmarkBar">
          <app-bookmarks></app-bookmarks>
        </div>
        <div class="message-window" *ngIf="chatBar">
          <router-outlet name="message"></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
