@import "../../shared/variable";

.main-section{
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    // background-color: goldenrod;
    background-image: url(../../assets/images/bg/5.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:focus{
    outline: -webkit-focus-ring-color none 1px;
}

.top-bar{
    height: 5rem;
    width: 100%;
    padding: 3% 5%;
    z-index: 10;
    background-color: #303030;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-btn{
    margin: 0.5em;
}

.schedule-class{
    width: 100%;
    padding: 3%;
    margin-top: 10vh;
    background-color: #0d5734;
    color: white;
}

.time-label{
    width: 50%;
}

.schedule-succcess{
    display: block;
    color: black;
}

.class-main{
    padding: 1rem 0rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    height: 100%;
    width:  100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.class-main.extra-top-margin{
    margin-top: 5rem;
}

.class-list {
    // padding: 0;
}

.class-list mat-card.class-item{
    background-color: $color-lash-blur;
    border-bottom: 2px solid $color-primary;
    // color: white;
    // padding: 1.2rem;
    // border-radius: 10px;
    margin-bottom: 10px;
    transition: 1s;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

.class-list .class-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.class-list .class-info .teacher-name-btn{
    width: 100%;
    margin-bottom: 5px;
}

.class-list .class-data{
    padding: 0.4em;
    margin: 0.5em;
    font-size: 80%;
    border-radius: 5px;
    // border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #ffffffb3;
}

.class-list .class-data.more-info-btn{
    cursor: pointer;
    transition: 0.4s;
}

.class-list .class-data.more-info-btn:hover{
    background-color: #212529;    
    color: white;
}

.class-list .class-data .material-icons{
    margin-top: -0.1em;
}

.more-close-btn{
    color: white;
    font-size: 2em;
    float: right;
    cursor: pointer;
}

.class-list .more-info{
    width: 100%;
    padding: 10px;
    margin-top: 3rem;
    background-color: $color-lash-blur;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
    border-radius: 5px;
    transition: 1s, visibility 0s, opacity 1.5s linear;
}

.class-list .info-hide{
    visibility: hidden;
    display: none;
    max-height: 0;
    opacity: 0;
}

.class-list .info-unhide{
    visibility: visible;
    transition: 1s, visibility 0s, opacity 1.5s linear;
    padding: 1.5rem;
    position: absolute;
    z-index: 55;
    opacity: 1;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-white-blur;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

.class-list .info-unhide .class-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.class-list .more-info-btn.class-data-main{
    transition: 0.5s;
    background-color: #212529;
    color: white;
}

.class-list .more-info .more-info-row{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.class-list .more-info .class-data-main{
    background-color: black;
    color: white;
}

.class-list .more-info .other-details{
    padding: 0.4em;
    margin: 0.5em;
    font-size: 80%;
    border-radius: 5px;
    // border-bottom: 2px solid black;
    color: black;
    background-color: white;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.class-list .more-info .more-info-row.functions-row{
    justify-content: flex-end;
}

.class-list .more-info .more-info-row .class-delete{
    padding: 0.4em;
    margin: 0.5em;
    font-size: 80%;
    border-radius: 5px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    background-color: #dc3545;
}

.class-list .more-info .more-info-row .class-delete:hover{
    background-color: #ff172f !important;
}

.class-list .class-bookmark, .class-list .class-ask{
    margin: 0.5em;
    font-size: 80%;
    border-radius: 5px;
    // border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.class-list .class-ask a{
    text-decoration: none;
    color: white;
}

.class-list .class-bookmark:hover, .class-list .class-ask:hover{
    // background-color: #ff172f !important;
}

.search-class{
    width: 100%;
    position: fixed;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    margin-bottom: -4rem;
    z-index: 12;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

.search-class .form-floating{
    color: black;
}

.class-search-input{
    border-radius: 10px;
}

.class-list .class-teacher{
    background-color: $color-primary;
    color: white;
    border-bottom: 2px solid white;
}

.side-panel{   
    padding: 0.2rem;
    height: 100%;
    position: fixed;
    right: calc(var(--bs-gutter-x)/ 2);
}

.side-panel div{
    // margin-bottom: 10px;
}

.side-panel-body{
    display: flex;
    height: 65vh;
    width: 95%;
    flex-direction: column;
}

.side-panel .bookmarks{
    height: 30%;
    margin-bottom: 10px;
    background-color: #3e6e9e;
    padding: 1.2rem;
}

.side-panel .message-window{
    height: 65vh;
}

.class-info.bookmark-info button{
    margin: 0.4em;
}

.bookmark-class{
    visibility: visible;
    transition: 1s, visibility 0s, opacity 1.5s linear;
    padding: 1.5rem;
    position: absolute;
    z-index: 55;
    opacity: 1;
    margin-top: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-white-blur;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    -moz-backdrop-filter: blur(8.5px);
    -o-backdrop-filter: blur(8.5px);
    -ms-backdrop-filter: blur(8.5px);
}

@media screen and (max-width: 768px){
    .top-bar{
        overflow-y: scroll;
        justify-content: normal;
    }

    .main-btn{
        margin: 0;
        padding-right: 0.5em;
    }

    .class-main.extra-top-margin{
        // margin-top: 0rem;
    }    
    
    .class-list .info-unhide{
        max-height: none;
    }

    .more-close-btn{
        position: absolute;
        right: 1.5rem;
    }

    .class-list .info-unhide .class-info{
        margin-top: 2.5rem;
    }

    .class-list .more-info{
        margin-top: 1rem;
    }

    .class-list .more-info .more-info-row{
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .class-list span.class-data.class-link{
        width: 100%;
        overflow-x: scroll;
    }

    .class-list .more-info .other-details{
        width: 100%;
        min-width: initial;
    }

    .side-panel{   
        padding: 0.2rem;
        height: 100%;
        position: relative;
    }

    .bottom-panel{
        height: 100vh;
        padding: 2.5em 1em;
        width: 100%;
        overflow: scroll;
        margin: auto;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 55;
        background-color: rgb(48 48 48 / 0.8);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        -moz-backdrop-filter: blur(8.5px);
        -o-backdrop-filter: blur(8.5px);
        -ms-backdrop-filter: blur(8.5px);
    }  

    .panel-close-btn{
        color: white;
        font-size: 2em;
        float: right;
    }

    .bottom-panel-body{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .message-window {
        height: 100%;
    }

}