@import "../../../shared/variable";
@import "../more-details.scss";


.class-list .class-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px){
 
    .class-list{
        max-height: none;
    }
    
    .class-list .class-info{
        margin-top: 2.5rem;
    }

}