@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Staatliches&display=swap');


.font-1{
    font-family: 'Rubik', sans-serif;
}

.font-2{
    font-family: 'Staatliches', cursive;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    // background-color: goldenrod;
    background-color: #141619;
}             

.icon-btn{
    display: flex !important;
    font-size: inherit;
    line-height: inherit;
}

.icon-btn i, .icon-btn span{
    padding: 0 2px;
    font-size: 100%;
    line-height: 1.5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
