@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap');

.font-1{
    font-family: 'Nanum Gothic Coding', monospace;
}

.font-2{
    font-family: 'Staatliches', cursive;
}

html, body{
    height: 100%;
    width: 100%;
}