@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import '~@angular/material/theming';
@include mat-core();


.font-1{
  // font-family: 'Tajawal', sans-serif;
}

.font-2{
  font-family: 'Staatliches', cursive;
}

.small-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.medium-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.small-scroll::-webkit-scrollbar-track, .medium-scroll::-webkit-scrollbar-track {
  background: #d8d8d8; 
}
.small-scroll::-webkit-scrollbar-thumb, .medium-scroll::-webkit-scrollbar-thumb {
  background: #8888883d;; 
}
.small-scroll::-webkit-scrollbar-thumb:hover, .medium-scroll::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}

.large-scroll::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
.large-scroll::-webkit-scrollbar-track {
  background: #d8d8d8; 
}
.large-scroll::-webkit-scrollbar-thumb {
  background: #88888894;; 
}
.large-scroll::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}

button:focus{
  outline: -webkit-focus-ring-color auto 0px;
}

@media screen and (max-width: 768px){
  .small-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .medium-scroll::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
  }
  .large-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

// $candy-app-primary: #038bff;
// $candy-app-accent:  #212529;

// 👇 1. Default theme
$theming-material-components-primary: mat-palette($mat-blue, 500);
$theming-material-components-accent: mat-palette($mat-gray, A900, A800, A700);
$theming-material-components-warn: mat-palette($mat-red, A700);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// 👇 2. Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// 👇 3. Define a custom heading typography config
$heading-font-family: "'Work Sans', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

@include angular-material-theme($theming-material-components-theme);

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    // background-color: goldenrod;
    background-color: #141619;
}             

.icon-btn{
    display: flex !important;
    font-size: inherit;
    line-height: inherit;
}

.icon-btn i, .icon-btn span{
    padding: 0 2px;
    font-size: 100%;
    line-height: 1.5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
