<div class="main-section font-1">
    <div class="account-out">
    <div class="account">
        <h3 class="font-2">Account</h3>

        <ng-template #showLogin>
        <div class="main-part">
            <div class="account-img"></div>
            <div class="log-in">
                <button class="btn btn-success" (click)="login()">Login with Google</button>
            </div>
        </div>
        </ng-template>

        <div class="main-part" *ngIf="auth.user | async as userA; else showLogin">

            <img *ngIf="userData" [src]="userData.img" alt="" class="account-img">

            <div class="part part-a" *ngIf="userData">                
                <h5>Hello,</h5><h4 class="hello-text font-2">{{ userData.displayName }}</h4>
                <p class="description-txt">{{ userData.description }}</p>
                <button class="btn btn-secondary edit-btn" (click)="editDataFunction()">Edit Profile</button>
                <button class="btn btn-danger logout-btn" (click)="logout()">Logout</button>
            </div>

            <div class="type part" *ngIf="editData">
                <div class="btn btn-dark icon-btn" (click)="fileUploader.click()">
                    Change Profile Image:
                    <span class="material-icons imgup">image</span>
                  </div>
                <div class="type-buttons sub-part">
                    <input type="file"  accept="image/png,image/jpg,image/jpeg,image/gif" class="upload-image" name="image" autocomplete="off" #fileUploader (change)="uploadFile($event, userA)">
                </div>
                <hr>
                <div *ngIf="userData">Account Type: {{ userData.category }}</div>
                <p class="mb-1 verify-text" *ngIf="userData.verified"><b>(This account is verified)</b></p>
                <p class="mb-1 not-verify-text" *ngIf="!userData.verified"><b>(This account is not verified)</b></p>
                <div class="type-buttons sub-part mb-2">
                    <button class="btn btn-white" disabled>Teacher</button>
                    <button class="btn btn-light" (click)="changeCategory(userA, 'Student')">Student</button>
                </div>
                <!-- <button class="btn btn-sm btn-dark" *ngIf="userData.verified">Request for verify account</button> -->
                <hr>
                <div>Name: {{ userName }}</div>
                <div class="name-box sub-part">
                    <input type="text" [(ngModel)]="userName">
                </div>
                <div>
                    <button class="btn btn-sm btn-dark" (click)="changeName(userA)">Change</button>
                </div>
                <hr>
                <div>Description: {{description}}</div>
                <div class="name-box sub-part">
                    <input type="text" [(ngModel)]="description">
                    <!-- (keyup.enter)="addBr()" -->
                </div>
                <div>
                    <button class="btn btn-sm btn-dark" (click)="changeDescription(userA)">Change</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>