<div class="main-section font-1">
    <div class="account">
        <h3 class="font-2">Account</h3>

        <ng-template #showLogin>
        <div class="main-part">
            <div class="account-img"></div>
            <div class="log-in">
                <button class="btn btn-success" (click)="login()">Login with Google</button>
            </div>
        </div>
        </ng-template>

        <div class="main-part" *ngIf="auth.user | async as userA; else showLogin">

            <img [src]="userA.photoURL" alt="" class="account-img">

            <div class="part part-a">                
                <h5>Hello,</h5><h4 class="hello-text font-2" *ngIf="userData">{{ userData.displayName }}</h4>
                <button class="btn btn-danger logout-btn" (click)="logout()">Logout</button>
            </div>

            <div class="type part">
                <span *ngIf="userData">Account Type: {{ userData.category }}</span>
                <div class="type-buttons sub-part">
                    <button class="btn btn-success" (click)="changeCategory(userA, 'Teacher')">Teacher</button>
                    <button class="btn btn-warning" (click)="changeCategory(userA, 'Student')">Student</button>
                </div>
            </div>

            <div class="name part">
                <span>Name: {{ userName }}</span>
                <div class="name-box sub-part">
                    <input type="text" [(ngModel)]="userName">
                </div>
                <span>
                    <button class="btn btn-sm btn-primary" (click)="changeName(userA)">Change</button>
                </span>
            </div>
        </div>
    </div>
</div>